.homePage-header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 50px 100px 80px; 

    .label.clear.black {
        @include xSmallText;
        color: $colorBlack;
        text-transform: uppercase;
        
        margin-bottom: 20px;
    }
    
    .heading1 {
        margin-bottom: 30px;
    }

    .heading4 a {
        @include linkExternal;
    }

    .btnSearch {
        @include btnRounded($colorWhite);
    
        position: absolute;
        left: 100px;
        bottom: -30px;
        z-index: 999;
    }
}

.homePage-header-aside {
    position: relative;
    background: $colorBlack url("../images/img/sun.svg") right 40px top 40px no-repeat;
    padding-left: 70px;
    padding-right: 70px;

    .heading2 {
        margin-top: 120px;
        color: $colorWhite;
        opacity: 0.4;
    }

    .textLabel {
        @include textLabel($colorBlack, $gradientLilac);
        position: absolute;
        left: 70px;
        bottom: 40px;
    }

    .btnSettings {
        @include btnSettings;
        position: absolute;
        right: 40px;
        bottom: 40px;

        img {
            transform: rotate(90deg);
        }
    }
}

@media screen and (max-width: 679px) {
    .homePage-header {
        padding-left: 20px;
        border-right: none;

        .btnSearch {
            left: 20px;
        }
    }
}