html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin: 0;
}

*:focus {
  outline: 2px solid $colorBlack;
  outline-offset: 2px;
}