//Colors
$colorBlack: #000000; //For text with different opacity
$colorWhite: #FFFFFF; //Background

$colorLilac: #E3A7FF; //Primary color
$colorHotPink: #FF3366; //Secondary colors
$colorCyan: #4AC0E0;
$colorPurple: #8245E6;

//Backgrounds
$gradientLilac: linear-gradient(135deg, #C2BFFB 0%, #E3A7FF 100%);

$pttrnMainBlack: url(../images/patterns/patternMainBlack.svg);
$pttrnMainBlackExtra: url(../images/patterns/patternMainBlack_extra.svg);
$pttrnMainWhite: url(../images/patterns/patternMainWhite.svg);

$pttrnMediumBlack: url(../images/patterns/patternMediumBlack.svg);
$pttrnMediumWhite: url(../images/patterns/patternMediumWhite.svg);

$pttrnSmallBlack: url(../images/patterns/patternSmallBlack.svg);
$pttrnSmallWhite: url(../images/patterns/patternSmallWhite.svg);

