@mixin textLabel($color, $bg) {
    @include xSmallText;
    color: $color;
    text-transform: uppercase;
    font-weight: 700;

    display: inline-block;
    padding: 5px 10px;
    
    background: $bg;
    border-radius: 2px;   
}

