.logo {
    width: 100%;
    a {
        display: block;
        width: 100%;
        height: 65px;
        background: url("../images/logo/logoBlackFull.svg");
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
    }
}

//*
//*Media Queries
//*

@media screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
    .logo {

        a {
            width: 100%;
            height: 82px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .logo {

        a {
            background: url("../images/logo/logoWhiteFull.svg");
            width: 100%;
            height: 65px;
        }
    }
}