.emailItem {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 25px;
    margin-bottom: 30px;

    &:last-child {
        border: none;
    }

    &:hover {
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    }

    &.active {
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    }

    .avatar {
        position: absolute;
        top:0;
        left:20px;
        width: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
            border-radius: 50%;
        }

        .status {
            display: block;
            width: 30px;
            height: 30px;
            background: url("../images/img/triangle.svg") center center no-repeat;

            margin-top: 5px;
        }
    }

    .messageBody {
        margin-left: 80px;
        margin-right: 80px;

        .from {
            @include smallText;
            font-weight: 700;
            opacity: 0.4;
            margin-bottom: 10px;
        }

        .subject {
            @include basicText;
            margin-bottom: 5px;            
        }

        .description {
            @include smallText;
            opacity: 0.5;
        }
    }

    .messageProps {
        position: absolute;
        top:0;
        right:20px;
        width: 60px;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
            @include smallText;
            font-style: italic;
            text-align: right;
            color: $colorBlack;
            opacity: 0.4; 
            margin:0;  
            
        }
        .mailTag {
            margin-top: 15px;
            width: 14px;
            height: 14px;

            a {
                @include mailTag($colorHotPink);
            }
        }
    }
}